.header {
    padding: 5px;
}

nav {
    text-align: center;
}

nav a {
    margin: 0px;
    padding: 5px 40px;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
    background: silver;
    text-decoration: none;
}