<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let coin of coins">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{coin.symbol}}</h5>
        <!-- <p class="card-text">Volume BTC: {{coin.'Volume BTC'}}</p> -->
        <p class="card-text">Open: {{coin.open}}</p>
        <p class="card-text">Close: {{coin.close}}</p>
        <p class="card-text">Net: {{coin.netPositive}}</p>
      <a href="#" class="btn btn-primary">Statistics</a>
      </div>
      <div class="card-footer text-muted">
        <strong>{{coin.date }}</strong>
         <!-- | date:'shortDate'}} -->
      </div>
    </div>
  </div>
</div>
