.del {
    background:darkred;
    color:white;
    border:none;
    padding:5px 9px;
    border-radius: 50%;
    cursor:pointer;
    float:right;
}
.is-selected {
    background:yellow !important;
}
.strong {   
    padding:3px;
    padding-right:10px;
    /* margin-left:10px; */
    font-weight:bold; 

}   
span.title {
    text-align:left;
}
.api {  
    padding:2px;
    white-space: nowrap;  
    text-align:left;
}
p { 
    border-bottom:1px rgb(150, 149, 149) dotted; 
    padding:5px;
}

/* .form {
    display:flex;
    max-width:80%;
    margin:auto;
} 
.form input[type='text'] {
    flex: 11;
    padding:5px;
    background:rgba(192, 192, 192, 0.349);
}
.form input[type='submit'] {
    flex:1;
} */