.del {
    background:darkred;
    color:white;
    border:none;
    padding:5px 9px;
    border-radius: 50%;
    cursor:pointer;
    float:right;
}
.is-selected {
    background:yellow !important;
}
.strong {   
    padding:3px;
    padding-right:10px;
    margin-left:10px;
    font-weight:bold; 

}    
    

span.post#title {
    
    max-width:30px !important;
    overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;  */
}
p { 
    border-bottom:1px rgb(150, 149, 149) dotted; 
    padding:10px; 
}
