<div [ngClass]="setClasses()">
    <p>
        <input (change)="onToggle(post)" type="checkbox" /> 
        <span class="strong-first">Title: </span><span class="post">{{post.title}}</span> <br />
        <span class="strong">Category:</span><span class="post">{{post.cat3}}</span>  <br />
        <span class="strong">Date:</span><span class="post">{{post.date}}</span>  <br />
        <span class="strong">Author:</span><span class="post">{{post.author}}</span>  
        <button (click)="onDelete(post)" class="del">x</button>
    </p>
</div>