<!-- <input class="search" placeholder="Search .." onchange="findUser(event)"> -->
<!-- <div style="text-align:center"> 
  <img alt="tmm Logo" src="https://aws-sensor-temperature.s3.amazonaws.com/header-trans.png">
</div> -->
<header class="header">
    <span class="login topheader" onclick="googleLogin()">Login</span> &nbsp;
    <a routerLink="/register"><span class="login register topheader">Register</span></a>
    <a routerLink="/coin-tracker"><span class="pull-left topheader">CoinTracker <small> using Firestore Serverless Database</small></span></a>
    <hr>
    <nav>
        <a class=" " routerLink="/">Home</a>
        <a class=" " routerLink="/console">Console</a>
        <a class=" " routerLink="/data">Analytics</a>
        <a class=" " routerLink="/news">Crypto News</a>
    </nav>
    <hr>
    <h2 class="title">
        {{ title }}
    </h2>
    <h5 class="subtitle">{{ subtitle }} </h5>


</header>