header {
    background-color: rgba(124, 188, 243, .1);
    color: #0c4a7f;
    border-radius: 5px;
    padding: 5px;
    min-width: 100%;
}

.uid {
    color: blue;
}

.group {
    color: brown;
    font-style: italic;
    padding: 0 10px;
    margin-right: 10px;
    border-right: solid 1px blue;
    border-left: solid 1px blue;
}

nav {
    /* margin-left: 0 auto 5px; */
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    /* transform: translateX(35px) */
    text-align: center;
}

nav a {
    margin: 0;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #0c4a7f;
    text-decoration: none;
    border-left: solid 1px #ffa100;
}

nav a:first-child {
    border-left: none;
}

nav a:hover {
    border: solid 1px #ffa100;
    color: blue;
    background: #ffa20041;
}

.title {
    text-transform: uppercase;
    padding-top: 0;
}

.subtitle {
    color: #337ab7;
    text-transform: uppercase;
    font-style: italic;
    /* font-size: 1.1rem; */
}

span.login {
    float: right;
    margin: 0 10px;
}

span.register {
    border: solid 1px #f5d7a3;
    border-radius: 5px;
    padding: 0 4px 2px;
}

span.topheader {
    color: #337ab7;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.2;
}

span.topheader:hover {
    border: solid 1px #ffa100;
    border-radius: 5px;
    color: blue;
    background: #ffa20041;
}