<!-- <input class="search" placeholder="Search .." onchange="findUser(event)"> -->
<!-- <div style="text-align:center"> 
  <img alt="tmm Logo" src="https://aws-sensor-temperature.s3.amazonaws.com/header-trans.png">

   onclick="googleLogin()"
</div> -->
<header class="header">


    <span class="login topheader">

        <ng-template #login>
            <span class="register" (click)="auth.googleSignin()">Sign in/Register with &nbsp;<img width="18vw" src="assets/google-logo.png"></span>
    </ng-template>
    <span *ngIf="auth.user$ | async as user; else login">
            <span (click)="auth.signOut()">Sign Out</span>
    </span>
    </span> &nbsp;
    <a routerLink="/register"><span class="login register topheader">Register</span></a>

    <span class=" pull-left  welcome" *ngIf="auth.user$ | async as user ">
           <span class="group"> {{ user.groupName }}</span> Welcome, <span class="uid">{{ user.name  }}</span>, to your Armchair Bitcoining Console!
    </span>
    <hr>
    <nav>
        <a class=" " routerLink="/">Home</a>
        <a class=" " routerLink="/console">Console</a>
        <a class=" " routerLink="/coin-tracker">CoinTracker </a>
        <a class=" " routerLink="/traders">Traders</a>
        <a class=" " routerLink="/data">Analytics</a>
        <!-- <a class=" " routerLink="/news">CryptoNews</a> -->
    </nav>
    <hr>
    <h2 class="title">
        {{ title }}
    </h2>
    <h5 class="subtitle">{{ subtitle }} </h5>


</header>