<div align="center">
    <h4>Serverless API: Crypto Historical Price Data</h4>
</div>
<hr>
<div id="serverless" class="serverless">
    <div class="row">

        <div class=" col col-xs-5 leftc">

            <button class="btn btn-primary pull-right  " (click)="coinLambda('bitcoin')">Update Prices</button>&nbsp;
            <button class="btn btn-primary pull-right  " (click)="clear()">Clear</button>&nbsp;

            <h5>2020 Prices </h5>
            <ul id="coin-update"></ul>
        </div>
        <div class=" col col-xs-5 leftc">
            <button class="btn btn-primary pull-right" (click)="getPriceList()">Bitcoin</button> &nbsp;
            <button class="btn btn-primary pull-right" disabled (click)="coinLambda('ethereum')">Ethereum</button>&nbsp;
            <button class="btn btn-primary pull-right" disabled (click)="coinLambda('litecoin')">Litecoin</button>&nbsp;

            <h5>Daily High, Low, Open, Close</h5>
            <ul id="coin-price">
                <li *ngFor="let price of prices">
                    <!-- <li *ngIf="prices"  > -->
                    <strong>Symbol:</strong> {{ price.symbol }}<br />
                   <strong> Date:</strong> {{ price.date }}<br />
                    <strong>Open:</strong> {{ price.open }}<br />
                    <strong>High:</strong> {{ price.high }}<br />
                    <strong>Low:</strong> {{ price.low }}<br />
                    <strong>Close:</strong>  {{ price.close }}<br />
                    <strong> VolumeBTC:</strong> {{ price.volto }}<br />
                    <strong>VolumeUSD:</strong> {{ price.volfrom }}<br />
                    <hr>
                </li>
            </ul>
        </div>
        <!-- <div class=" col col-xs-5 rightc">
            <h5 class="request">XMLHttpRequest</h5>
            <div id="coinJson">
            </div>
        </div> -->
    </div>


</div>
<br />
<hr>
<p>  AWS API Gateway Endpoint using AWS Route 53 A Record Set Alias</p>

<code>curl -X GET "https://jdkxd2ny04.execute-api.us-east-1.amazonaws.com/prod/thomasMiltonFunction"</code>
<!-- <div class="dataGetters col col-xs-4">
        <div id="scraperBtc"></div>
        <div id="scraperEther"></div>
    </div> -->
<!-- <div class="row">
    <div class="dataGetters col col-xs-6">
        <div id="fetchAsyncBtc"></div>
        <div id="fetchAsyncEther"></div>
        <div id="promises"></div>
    </div>
    <div class="dataGetters  col col-xs-6">
        <div id="promiseAll"></div>
    </div>
</div>
<button (click)="initAsync1()">Historical Bitcoin Data</button> -->
