
* { 
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family:  'Arial Narrow', Arial, sans-serif;
    line-height: 1.4;
}
a {
    color:#433;
    text-decoration:none;
}
.container {
    padding:0 2rem;
}
.btn {
    display: inline-block;
    border:none;
    background: #555555;
    color:aliceblue;
    padding:7px 20px;
    cursor:pointer;
}
.btn:hover {
    background:#a88d8d;
}
h1 { 
    text-align:center;
}
h2, h3,h4,h5,h6 {
    padding:10px 10px; 
}