footer {
    text-align: center;
    vertical-align: center;
    padding: 10px 0 20px;
    margin: 0;
    background-color: rgba(144, 184, 219, .8);
    background-image: url('/assets/greeninvert5.png');
    color: #004581;
}

h5.copyright {
    color: #3379b7b4;
}

.footer-links {
    line-height: 2;
}

.footer-links a:hover {
    border: solid 1px #ffa100;
    color: blue;
    text-decoration: none;
    background: #ffa20041;
}